/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 avr. 2024, 11:57:58
    Author     : mohci
*/

.login-wrapper {
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 30, 0, 0, 0);
}

.login-background {
    -fx-background-color: #fff
}

.login-input {
    -fx-background-color: #fff;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
    -fx-border-radius: 5px;
}

.login-btn {
    -fx-background-color: #018D9A;
    -fx-border-radius: 5px;
}
